<p>Dear <%= name %>,</p>

<p>We have received a request to reset your password for the email address <%= email %>. If you did not make this request, please disregard this email.</p>

<p>Your one-time password (OTP) to reset your password is:</p>

<p style="font-size: 24px; font-weight: bold;"><%= otp %></p>

<p>This OTP is valid for 5 minutes. If you have not received your OTP within a few minutes, please check your spam folder or contact our support team.</p>

<p>Thank you for using our service.</p>
